h1{
    color: blue;
}

body{
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 900px;
}

.left, .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-style: solid;
    flex-grow: 1;
}

.left{
    justify-content: space-between;
    background-image: url("images/background-image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

#title{
    margin-top: 250px;
    font-size: 46px;
    align-self: stretch;
    text-align: center;
    background-color: gray;
}

.right{
    flex-grow: 2;
}